.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
Note.txt
Class Diagram Direktur.txt
Class Diagram PM.txt

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/assets/img/profiles/*
/assets/libs/fontawesome-6.1.1/less/
/assets/libs/fontawesome-6.1.1/scss/
/assets/libs/fontawesome-6.1.1/svgs/
/assets/libs/line-awesome-1.3.0/scss/
/assets/libs/line-awesome-1.3.0/svg/
/assets/libs/line-awesome-1.3.0/line-awesome.fig

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
