.kanban-box.ui-sortable-handle {
	cursor: default !important;
}

.thumbnail-box {
	padding: 20px;
	border: dashed #ddd;
	border-width: 2px;
	cursor: pointer;
}

.thumbnail-kanban {
	height: 120px !important;
	overflow: hidden;
}

.thumbnail-kanban i {
	color: #ddd;
	font-size: 3rem;
	transition: color .3s ease;
}

.thumbnail-box:hover .thumbnail-kanban i {
	color: #ff9b44;
}

.kanban-list > .kanban-header .status-title {
	width: 280px;
	margin-right: 1rem;
}

.kanban-list {
	width: 380px !important;
}

.kanban-list > .kanban-wrap > .pro-progress .pro-progress-bar h5 {
	margin-right: .7rem;
	text-transform: uppercase;
	margin-bottom: 0;
}
.kanban-list > .kanban-wrap > .pro-progress .pro-progress-bar h5, 
.kanban-list > .kanban-wrap > .pro-progress .pro-progress-bar span {
	font-size: 12px;
}

.kanban-list > .kanban-wrap > .pro-progress .pro-progress-bar .progress {
	height: 8px;
}

.kanban-list > .kanban-wrap > .kanban-upload-area {
	margin-top: 10px;
	padding: 10px 15px;
	border: 2px dashed #dbdbdb;
	background-color: rgba(255, 255, 255, 0.5);
	border-width: 2px;
}

/* Kanban Coloring Style Theme */
.kanban-list.kanban-danger > .kanban-header .status-title > span.badge {
	background-color: rgb(255 255 255 / 85%) !important;
	color: #ef5350 !important;
}

.kanban-list.kanban-danger > .kanban-wrap > .kanban-upload-area button.btn-uploadGambarProyek {
	background-color: #ef5350;
	color: #fff;
	border-color: 1px solid #ef5350;
}

.kanban-list.kanban-success > .kanban-header .status-title > span.badge {
	background-color: rgb(255 255 255 / 85%) !important;
	color: #4caf50 !important;
}

.kanban-list.kanban-success > .kanban-wrap > .kanban-upload-area button.btn-uploadGambarProyek {
	background-color: #4caf50;
	color: #fff;
	border-color: 1px solid #4caf50;
}

.kanban-list.kanban-primary > .kanban-header .status-title > span.badge {
	background-color: rgb(255 255 255 / 85%) !important;
	color: #ff9b44 !important;
}

.kanban-list.kanban-primary > .kanban-wrap > .kanban-upload-area button.btn-uploadGambarProyek {
	background-color: #ff9b44;
	color: #fff;
	border-color: 1px solid #ff9b44;
}

.kanban-list.kanban-warning > .kanban-header .status-title > span.badge {
	background-color: rgb(255 255 255 / 85%) !important;
	color: #ffb300 !important;
}

.kanban-list.kanban-warning > .kanban-wrap > .kanban-upload-area button.btn-uploadGambarProyek {
	background-color: #ffb300;
	color: #fff;
	border-color: 1px solid #ffb300;
}

.kanban-list.kanban-info > .kanban-header .status-title > span.badge {
	background-color: rgb(255 255 255 / 85%) !important;
	color: #42a5f5 !important;
}

.kanban-list.kanban-info > .kanban-wrap > .kanban-upload-area button.btn-uploadGambarProyek {
	background-color: #42a5f5;
	color: #fff;
	border-color: 1px solid #42a5f5;
}

.kanban-list.kanban-purple > .kanban-header .status-title > span.badge {
	background-color: rgb(255 255 255 / 85%) !important;
	color: #7460ee !important;
}

.kanban-list.kanban-purple > .kanban-wrap > .kanban-upload-area button.btn-uploadGambarProyek {
	background-color: #7460ee;
	color: #fff;
	border-color: 1px solid #7460ee;
}

div.mandor-profile {
	width: 120px; 
	height: 120px; 
	border-radius: 50%; 
	overflow: hidden;
}

div.profile-pic {
	width: 70px; 
	height: 70px; 
	border-radius: 50%; 
	overflow: hidden;
}

div.mandor-profile > img,
div.profile-pic > img {
	height: 100%; 
	width: 100%; 
	object-fit: cover; 
	object-position: center center;
}

.avatar > img {
	height: 100%;
	object-fit: cover;
	object-position: top center;
}

.main-drop .user-img img {
	height: 30px;
	object-fit: cover;
}

.divider {
	height: 1px;
	background-color: #eee;
}

@media only screen and (max-width: 575.98px) {
	.profile-info-left ul.personal-info{
	   text-align: left !important;
	}
}

/* Custom Radio Button */
div.input-radio {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

div.input-radio label.label-box {
	position: relative;
	width: 28px;
	height: 28px;
	margin-right: 8px;
	border-radius: 50%;
	cursor: pointer;
	opacity: .5;
	transition: all .3s ease;
}

div.input-radio label.label-box:last-child {
	margin-right: 0;
}

div.input-radio label.label-box i.check-icon {
	display: none;
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.input-radio label.label-box:hover,
input.custom-radio-input:checked + label.label-box {
	opacity: 1;
}

input.custom-radio-input:checked + label.label-box i.check-icon {
	display: block;
}


.circle-btn-msg {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: none;
	background-color: #e7e7e7;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s ease-in-out;
}

.circle-btn-msg i {
	font-size: 13px;
	color: #a4a4a4;
	transition: all .3s ease-in-out;
}

.circle-btn-msg:hover i {
	color: #fff;
}

.circle-btn-msg.data_status_pending:hover,
.circle-btn-msg.data_status_pending.active {
	background-color: red;
}

.circle-btn-msg.data_status_success:hover,
.circle-btn-msg.data_status_success.active {
	background-color: green;
}

.circle-btn-msg.data_status_pending.active i,
.circle-btn-msg.data_status_success.active i{
	color: #fff;
}

.image-lists {
	display: block;
	position: relative; 
	overflow: hidden; 
	height: 248px;
}

.image-lists img {
	object-fit: cover;
}

.btnDeletePhoto {
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 1;
	width: 32px;
	height: 32px;
}

.lg-backdrop {
	z-index: 2000 !important;
}

.lg-outer {
	z-index: 2020 !important;
}